.project_card {
    border: 2px solid #e5e5e5;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
}

.project_card_open{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}